<div class="d-flex justify-content-center dropdown mb-3">
  <a class="btn btn-outline-secondary dropdown-toggle form-control" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
    aria-expanded="false">
    類別
  </a>

  <ul class="dropdown-menu form-control" aria-labelledby="dropdownMenuLink">
    {{#each categories}}
    <li><a class="dropdown-item" href="#">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="d-flex justify-content-between m-3">
  <div class="total-amount-title">總金額:</div>
  <div class="total-amount">{{ totalAmount }}</div>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item list-group-item-light">
    <div class="row">
      <div class="col-auto me-auto d-flex">
        <div class="d-flex align-items-center">
          <i class="{{this.icon}}">i</i>
          <div class="d-flex row">
            <span class="ms-3">{{ this.name }}</span>
            <span class="ms-3">{{ this.date }}</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          
        </div>
      </div>
      <div class="col-auto">
        <span class="me-3">{{ this.amount }}</span>
        <a class="btn btn-secondary" href="./records/{{ this._id }}/edit">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div class="d-flex justify-content-center mt-3">
  <a class="btn btn-warning" href="/records/new">新增支出</a>
</div>